<div class="sidebar">
  <div class="logo-details">
    <i class="fa fa-bars"></i>
    <div class="logo_name" *ngIf="authUser">
      <p>{{ authUser.role.toUpperCase() }}</p>
    </div>
    <i class="fa" id="btn"></i>
  </div>
  <ul class="nav-list" *ngIf="authUser.role=='candidate'">
    <li [routerLink]="['/user/home']">
      <a>
        <i class="fa fa-home"></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li [routerLink]="['/user/profile']">
      <a>
        <i class="fa fa-user"></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li [routerLink]="['/user/offres']">
      <a>
        <i class="fa fa-regular fa-briefcase"></i>
        <span class="links_name">Offres</span>
      </a>
      <span class="tooltip">Offres</span>
    </li>
    <li [routerLink]="['/user/candidatures']">
      <a>
        <i class="fa fa-th-list"></i>
        <span class="links_name">My Applications</span>
      </a>
      <span class="tooltip">My Applications</span>
    </li>
    <li>
      <a class=" btn nav-link" (click)="handlelogout()">
        <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
        <span class="links_name">log out</span>
      </a>
      <span class="tooltip">Log out</span>
    </li>

  </ul>

  <ul class="nav-list" *ngIf="authUser.role=='employer'">
    <li [routerLink]="['/user/home']">
      <a>
        <i class="fa fa-home"></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li [routerLink]="['']">
      <a>
        <i class="fa fa-user"></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li [routerLink]="['/user/offres']">
      <a>
        <i class="fa fa-regular fa-briefcase"></i>
        <span class="links_name">Job Offres</span>
      </a>
      <span class="tooltip">job Offres</span>
    </li>
    <li [routerLink]="['']">
      <a>
        <i class="fa fa-th-list"></i>
        <span class="links_name">My job offers</span>
      </a>
      <span class="tooltip">My job offers</span>
    </li>
    <li>
    <li [routerLink]="['/user/add-Offer']">
      <a>
        <i class="fa fa-th-list"></i>
        <span class="links_name">Add Offer</span>
      </a>
      <span class="tooltip">Add Offer</span>
    </li>
    <li>
      <a class=" btn nav-link" (click)="handlelogout()">
        <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
        <span class="links_name">log out</span>
      </a>
      <span class="tooltip">Log out</span>
    </li>

  </ul>

</div>
<div class="router-content">
  <router-outlet></router-outlet>
</div>
