<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="home.component.css" rel="stylesheet">
  <title>Home</title>
</head>
<body>

</body>
</html>
<!-- Category Start -->
<div class="container py-5">
  <div class="container">
    <h1 class="text-center mb-2 wow fadeInUp">Explore By Category</h1>
    <div class="row">

      <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;" >
        <div class="card-header">Marketing</div>
        <div class="card-body">
          <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
</div>

      <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Customer Service</div>
        <div class="card-body">
          <i class="fa fa-3x fa-headset text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
</div>


      <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Human Resource</div>
        <div class="card-body">
          <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>

       <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Project Management</div>
        <div class="card-body">
          <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>

       <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Business Development</div>
        <div class="card-body">
          <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>

       <div class="col-md-3">

      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Sales & Communication</div>
        <div class="card-body">
          <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>

       <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Teaching & Education</div>
        <div class="card-body">
          <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>

       <div class="col-md-3">
      <div class="card text-dark bg-light mb-3 card-hover" style="max-width: 18rem;">
        <div class="card-header">Design & Creative</div>
        <div class="card-body">
          <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
          <p class="mb-0">123 Vacancy</p>
        </div>
      </div>
    </div>


  </div>
</div>
</div>

